<section class="nosotros">
    <div class="container">
      <h2 class="nosotros__titulo">Acerca de Nosotros</h2>
      <p class="nosotros__descripcion">Somos una empresa dedicada a [describa su actividad o sector]. Nos apasiona [describa su pasión o misión] y nos esforzamos por [describa su objetivo o valor diferencial].</p>
  
      <div class="nosotros__equipo">
        <h3>Nuestro Equipo</h3>
        <div class="equipo__miembros">
          <div class="equipo__miembro">
            <img src="[imagen del miembro del equipo]" alt="[nombre del miembro del equipo]" class="equipo__miembro__imagen">
            <h4>[Nombre del miembro del equipo]</h4>
            <p class="equipo__miembro__cargo">[Cargo del miembro del equipo]</p>
            <p class="equipo__miembro__descripcion">[Descripción breve del miembro del equipo]</p>
          </div>
          </div>
      </div>
  
      <div class="nosotros__valores">
        <h3>Nuestros Valores</h3>
        <ul class="valores__lista">
          <li>[Valor 1]</li>
          <li>[Valor 2]</li>
          <li>[Valor 3]</li>
          </ul>
      </div>
    </div>
  </section>
  