<div class="navbar">
    <div class="logo">
        <a href="#">
            <img src="../../../assets/logo.png" alt="logo" width="40px">
        </a>
    </div>
    <nav class="main-menu">
        <ul class="nav__links">
            @for (main of mainItems; track $index) {
                <li [class]="main.classCss">
                    <i [class]="main.icon"></i> 
                    <a [routerLink]= "main.path">{{main.title}}</a>
                </li>
            @if (main.submenu?.length) {
                <ul class="submenu">
                    <li [class]="main.classCss">
                        <i [class]="main.icon"></i>
                        <a [routerLink]="main.path">{{main.title}}</a>
                    </li>
                </ul> 
            }    

            }
   
        </ul>

    </nav>

</div>