/* .navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: #000000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .logo {
    width: 150px; 
  }
  
  .logo img {
    width: 100%; 
  }
  
  .nav__links {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    color: #787676;
  }
  
  .nav__links li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .nav__links a {
    text-decoration: none; 
    color: #787676; 
    font-weight: bold; 
  }
  
  .nav__links a:hover { 
    color: #ffffff; 
  } */
  
.main-menu{
  font-family: Arial, Helvetica, sans-serif;
}

.main-menu ul {
  list-style-type: none;
  padding: 0;
}
.main-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #787676;
}
.main-menu ul li:hover .submenu {
  display: block;
  
}

.submenu{
  display: none;
  position: absolute;
  background: #fff ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0,1);
}
.submenu li {
  display: none;

}