<p>Componente de Inicio</p>

<button (click)="cambioRuta()">Boton on Click</button>

<button routerLink='/persona'>Mostrar 2</button>

<button routerLink="/imagenes">Mostrar Imagenes</button>

<hr>

<button (click)="abrirModal()">Este es el Modal</button>

<!-- <a href="persona"> <button>Mostrar Persona</button></a> -->




<!-- @if(mostrarTitulo) {
    <h2>Tabla de personas</h2>
}




<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Ciudad</th>
      <th>Documento</th>
    </tr>
  </thead>

  <tbody>
    @for(persona of personas; track $index){
    <tr>
      <td>{{ persona.nombre }}</td>
      <td>{{ persona.edad }}</td>
      <td>{{ persona.ciudad }}</td>
      <td>{{ persona.documento }}</td>
    </tr>
    }
  </tbody>
</table> -->
