<h1>Mis Imagenes</h1>
<div class="container__images">   
    <img src="../../assets/16mario1jpg-a29e33.jpg" alt="Imagen1">
    <img src="../../assets/20238315363628_1.jpg" alt="Imagen2">
    <img src="../../assets/every-mario-game-on-the-nintendo-switch-in-2024_z5tk.1280.webp" alt="Imagen3">
    <img src="../../assets/switch-mariokartlivehomecircuit-screen-12-1599145957470.jpg" alt="Imagen4">
    <img src="../../assets/switch-supermarioparty-090618-presskit-scrn-10-1536969778421.jpg" alt="Imagen5">
    <img src="../../assets/wiiumariotennisultrasmashscrn10jpg-bfd664.jpg" alt="Imagen2">
</div>

